services:
  statuz:
    container_name: statuz
    build:
      context: ../
      dockerfile: Dockerfile
    ports:
      - 18080:8080
    ## SET YOUR ENV ACCORDINGLY. SEE README FOR DETAILS
    environment:
      TYPE: webpage
      ENDPOINT: https://www.google.com
      INTERVAL: 15s

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'
    ports:
      - 19090:9090
    restart: unless-stopped
    volumes:
      - ./prometheus:/etc/prometheus
      - prom_data:/prometheus

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - 13000:3000
    restart: unless-stopped
    volumes:
      - ./grafana/datasource.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
volumes:
  prom_data: